---
import Layout from "../layouts/Layout.astro";
// Components
import Badge from "@components/Badge.astro";
import Experience from "@components/Experience.astro";
import ExperienceIcon from "@components/icons/Experience.astro";
import SectionContainer from "@components/SectionContainer.astro";
import SocialPill from "@components/SocialPill.astro";
// Icons
import GitHubIcon from "@components/icons/GitHub.astro";
import MailIcon from "@components/icons/Mail.astro";
import LinkedInIcon from "@components/icons/LinkedIn.astro";

import { geti18n } from "@i18n/index";

const { currentLocale } = Astro;
const i18n = geti18n({ currentLocale });
---

<Layout
  title={i18n.SEO_TITLE}
  description={i18n.SEO_DESCRIPTION}
  url="https://cristiand395.github.io/portfolio/"
>
  <main class="px-4">
    <SectionContainer id="top" class="py-44 pb-24">
      <h1
        class="dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-grow gap-x-4 pb-6 lg:pb-10"
      >
        {i18n.RESUME_TITLE}
        <div class="flex justify-center items-center">
          <Badge>{i18n.STATUS_BADGE}</Badge>
        </div>
      </h1>
      <h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px]">
        {i18n.RESUME_DESCRIPTION}
      </h2>
      <nav class="flex gap-x-4 mt-6 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/cristiand395/">
          <LinkedInIcon class="size-1" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/cristiand395">
          <GitHubIcon class="size-1 lg:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:cristiand395@gmail.com">
          <MailIcon class="size-6 lg:size-6" />
          cristiand395@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>
    <SectionContainer id="experience">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <ExperienceIcon class="size-7" />
        {i18n.EXPERIENCE_TITLE}
      </h2>
      <Experience />
    </SectionContainer>
  </main>
</Layout>
